<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Devart.Data" version="6.0.191" targetFramework="net48" />
  <package id="Devart.Data.MySql" version="9.4.191" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
</packages>